@import "variables";

header {
    background-color: $color-pagina;
    position: sticky;
    top: 0;
    z-index: 2;

  }

  .container-fluid{
    background-color: $color-pagina;
    border-radius: 10px;
  }
  