@import "resets";
@import "navbar";
@import "footer";
@import "variables";
@import "celulares";

body {
    font-family: "Montserrat", sans-serif;
  }

 .smart_P {
    position: relative;
    display: block;
    text-align: center;
  }
  
  .smart_p1 {
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: 400;
  }
  .smart_p2 {
    font-weight: 700;
    position: absolute;
    top: 35%;
    left: 30px;
  }
  
  .smart_p3 {
    position: absolute;
    top: 55%;
    left: 35px;
    font-size: 1.4rem;
  }
  
  .card_imagen--samsung {
    width: 200px;
  }
  .card_imagen--mototv {
    width: 200px;
  }

  
  .dudasyrespuestas {
    width: 400px;
    margin: auto;
    padding: 40px;
  }
  .dudas {
    background-color: $color-pagina;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
  .dudas p {
    background-color: $color-con-pagina;
    padding: 10px;
    display: inline-block;
  }
  
  .muestra {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .card--inicio-1 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }
  
  .card--inicio-2 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }
  
  .card--inicio-3 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }
  
  .card--inicio-4 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }

  .formulario {
    background-color: $color-pagina;
    color: #212121;
    margin: 1rem;
  }
  .form {
    background-color: $color-con-pagina;
  }

  .contenedor-grid {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 60px;
  }
  
  .cuadros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-area: cuadro;
  }
  
  .cuadros-card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
  
    background-size: cover;
    background-position: center center;
  
    background-image: url(../imagenes/galaxy_ss.jpg);

    &:hover{
        box-shadow: $color-con-pagina;
  
        border-radius: 6px;
        cursor: default;
        transform: translateY(-3%);
    }

  }
  .cuadros-card2 {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
  
    background-size: cover;
    background-position: center center;
    background-image: url(../imagenes/galaxy_a.jpg);

    &:hover{
        box-shadow: $color-con-pagina;
  
        border-radius: 6px;
        cursor: default;
        transform: translateY(-3%);
    }

  }
  
  .cuadros-card3 {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
  
    background-size: cover;
    background-position: center center;
    background-image: url(../imagenes/j.jpg);

    &:hover{
        box-shadow: #5e3ac9;
  
        border-radius: 6px;
        cursor: default;
        transform: translateY(-3%);
    }

  }
  
  .cuadros-card4 {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
  
    background-size: cover;
    background-position: center center;
    background-image: url(../imagenes/Glaxyzzz.jpg);

    &:hover{
        box-shadow: #5e3ac9;
  
        border-radius: 6px;
        cursor: default;
        transform: translateY(-3%);
    }
  }

  .cuadros-card:hover {
    box-shadow: $color-con-pagina;
  
    border-radius: 6px;
    cursor: default;
    transform: translateY(-3%);
  }

  @import "mediaquieres"