@import "resets";
@import "navbar";
@import "footer";
@import "variables";
@import "celulares";
@import "cuadros";

body {
    font-family: "Montserrat", sans-serif;
  }

  .tvimagen{
    max-width: 100%;
    height: auto;
  }

  .info{
    position: relative;
    display: inline-block;
    
  }
  .info_p2{
    position: absolute;
    top: 29%;
    left: 60px;
    font-weight: bold;
    font-size: 60px;
  }

  .info_p3{
    position: absolute;
    top: 41%;
    left: 60px;
    font-size: 60px;
  }


 .smart_P {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;

 }

  
  .smart_p2 {
    position: absolute;
    top: 29%;
    left: 60px;
    font-weight: bold;
    font-size: 60px;
  }
  
  .smart_p3 {
    position: absolute;
    top: 50%;
    left: 60px;
    font-size: 60px;
  }
  
  .card_imagen--samsung {
    width: 200px;
  }
  .card_imagen--mototv {
    width: 200px;
  }

  
  .dudasyrespuestas {
    width: 400px;
    margin: auto;
    padding: 40px;
  }
  .dudas {
    background-color: $color-pagina;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
  .dudas p {
    background-color: $color-con-pagina;
    padding: 10px;
    display: inline-block;
  }
  
  .muestra {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .card--inicio-1 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }
  
  .card--inicio-2 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }
  
  .card--inicio-3 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }
  
  .card--inicio-4 {
    text-align: center;
    margin: 1rem;
    max-width: 300px;
    padding: 1rem;
    box-shadow: $color-pagina;
    background-color: white;
  }

  .formulario {
    background-color: $color-pagina;
    color: #212121;
    margin: 1rem;
  }
  .form {
    background-color: $color-con-pagina;
  }


  @import "mediaquieres"